@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

.search-area {
	padding-top: 50px;
}

.no-padding {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.no-right-padding {
	padding-right: 0 !important;
}

.no-left-padding {
	padding-left: 0 !important;
}

.results-block {
  display: inline-block;
}

.user-name{
	
}